@media only screen and (min-width: 768px) and (max-width: 1025px){
	.about-img{
	    width: 90%;
	    height: auto;
	    margin-left: 10%;
	}
	.welcome-text h3{
		font-size: 3.5rem;
	}
}
@media only screen and (max-width: 768px){
	.desktop-menu{
		display: none;
	}
	.menu-icon{
    	display: block;
	}
	.welcome-text h3{
		font-size: 2.5rem;
	}
	.welcome-text h3 span{
		display: block;
	}
	.search-contact{
		display: none;
	}
	.about-img{
	    width: 280px;
	    height: 280px;
	    margin-left: 25%;
	    margin-bottom: 3rem;

	}
	.banner-text h4 {
	    font-size: 1.6rem;
	    letter-spacing: 3px;
	}
	.banner-text h2 {
   		font-size: 25px;
	}
	.banner-text h2 span{
		font-size: 1.8rem;
	}
	.banner-text a .btn-contact{
		padding: 8px 17px 7px;
	}
	.banner-text a .btn-contact::before {
	    right: -41%;
	    top: 57%;
	}
	.hero-wraper {
	    height: 65rem;
	    min-height: 65rem;
	}
	.single-project-wrap{
	    margin-bottom: 4rem;
	}

}	
@media only screen and (max-width: 480px){
	html{
		font-size: 55%;
	}
	.about-img{
	   width: 280px;
	    height: 280px;
	    margin-left: 10%;
	}
}
@media only screen and (max-width: 320px){
	.about-img{
	   max-width: 180px;
	    height: 180px;
	    margin-left: 20%;
	}
}